@import "tailwindcss";

:root {
    /* Your default theme */
    --color-background: white;
    --color-foreground: black;
}

[data-theme="dark"] {
    --color-background: black;
    --color-foreground: white;
}

@theme {
    --font-fruktur: var(--font-fruktur), serif;
}

.radix-themes {
    --default-font-family: "Geist Sans", sans-serif;
}

::view-transition-old(.fade),
::view-transition-new(.fade) {
    animation-duration: 200ms;
}
